<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/layout.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="gridcontainer">
      <div class="gridcontent">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vitae
        odio quaerat inventore temporibus nam quos ea officiis aut, dolor fugiat
        similique voluptatibus suscipit delectus assumenda at nemo quasi dolore!
        Ipsam voluptas dolores placeat nam odit voluptatum, recusandae facere
        mollitia, quaerat nostrum vitae sint officia veritatis saepe
        voluptatibus animi possimus dignissimos autem? Enim, non? Doloremque
        optio praesentium dolorem eveniet quaerat! Soluta veritatis vitae,
        debitis fuga incidunt reiciendis ad, expedita hic nisi, eveniet aperiam
        accusantium illum ab illo? Et molestiae perferendis, at, sed totam
        asperiores natus, exercitationem quo est perspiciatis explicabo. Aliquam
        neque inventore sint soluta deserunt, fugiat dignissimos veritatis
        quidem eum quam natus mollitia quos sapiente sunt ipsam cumque quasi
        debitis magni voluptatem doloribus. Aperiam itaque quam provident
        dignissimos facere. Iure maiores, incidunt tempora nisi ullam illum.
        Temporibus nisi ut voluptate dolorem voluptatem. Esse ullam soluta
        iusto, debitis iure culpa exercitationem delectus facere illo ipsum
        corrupti deleniti. Hic, molestias. Suscipit?
      </div>
      <div class="gridLogo">
        <img
          src="https://avatars.githubusercontent.com/u/73441610?s=400&u=9293be588969161287f26ffbdaf7af53424692a6&v=4"
          alt=""
        />
      </div>
      <div class="gridheader">
        Navbar Goes Hereeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
      </div>
      <div class="gridUserAvatar">
        <img
          src="https://avatars.githubusercontent.com/u/73441610?s=400&u=9293be588969161287f26ffbdaf7af53424692a6&v=4"
          alt=""
        />
      </div>
      <div class="gridplcL">gridplcL</div>
      <div class="gridplcR">gridpcR</div>
      <div class="gridfooter"><%- include("../partials/footer.html") %></div>
    </div>
  </body>
</html>
